<h1>后台发布pickax任务</h1>

<%= link_to("新建任务", new_admin_ptask_path, class: "btn btn-primary pull-right") %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        title
      </th>
      <th>
        description
      </th>
      <th>
        reward
      </th>
    </tr>
  </thead>
  <tbody>
    <% @ptasks.each do |ptask| %>
      <tr>
        <td>
          <%= ptask.id %>
        </td>
        <td>
          <%= ptask.title %>
        </td>
        <td>
          <%= ptask.description %>
        </td>
        <td>
          <%= pluralize(ptask.reward, "pickax") %>
        </td>
        <td>
          <% if ptask.is_hidden %>
          <label class="label label-danger">隐藏</label>
          <% else %>
          <label class="label label-success">公开</label>
          <% end %>
        </td>
        <td>
          <%= link_to("edit", edit_admin_ptask_path(ptask), class: "btn btn-primary") %>
          <%= link_to("hide", hide_admin_ptask_path(ptask), method: :post, class: "btn btn-primary") %>
          <%= link_to("publish", publish_admin_ptask_path(ptask), method: :post, class: "btn btn-primary") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
