<font color="#BFBFBF">
  <h1>排名前5的问题会被采纳！</h1>

<%= link_to("看我来问！", new_leaderboard_path, class: "btn btn-danger btn-lg pull-right") %>

<br><br><br><hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th> # </th>
      <th> title </th>
      <th> description </th>
      <th> creator </th>
      <th> updated_at </th>
      <th> count of votes </th>
      <th> options </th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td> <%= post.id %></td>
        <td> <%= link_to(post.title, post) %> </td>
        <td> <%= post.description %></td>
        <td> <%= post.user.email %> </td>
        <td> <%= post.updated_at %> </td>
        <td>
            <i class="fa fa-diamond" aria-hidden="true" style="color: red;"></i> x <%= post.total_rubies %>
        </td>
        <td>
          <%= link_to("vote for it!!!", upvote_leaderboard_path(post), method: :post, class: "btn btn-danger") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</font>
