<h1>完成任务，获得铁镐！</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        title
      </th>
      <th>
        description
      </th>
      <th>
        reward
      </th>
    </tr>
  </thead>
  <tbody>
    <% @ptasks.each do |ptask| %>
      <tr>
        <td>
          <%= ptask.id %>
        </td>
        <td>
          <%= ptask.title %>
        </td>
        <td>
          <%= ptask.description %>
        </td>
        <td>
          <%= pluralize(ptask.reward, "pickax") %>
        </td>
        <td>
          <%= link_to("申请执行任务", "#", data: {confirm: "申请个毛啊，完成了任务和管理员说一声！"}, class: "btn btn-primary") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
