<font color="#BFBFBF">

  <h1>Ruby Rush!按照被投票的时间从新到旧</h1>

<h2>可点击到具体的页面</h2>
<% if is_actived_user? %>
  <%= link_to("New Question?", new_post_path, class: "btn btn-danger btn-lg pull-right") %>
<% else %>
 <%= link_to("New Question?", about_index_path, class: "btn btn-danger btn-lg pull-right", data: {confirm: "请注册并找管理员激活"}) %>
<% end %>

<br><br><br><hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th> # </th>
      <th> title </th>
      <th> description </th>
      <th> creator </th>
      <th> updated_at </th>
      <th> options </th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td> <%= post.id %></td>
        <td> <%= link_to(post.title, post, class: "btn btn-lg btn-danger") %> </td>
        <td> <%= post.description %></td>
        <td> <%= post.user.email %> </td>
        <td> <%= post.updated_at %> </td>
        <td> <%= post.votes.count %> </td>
        <td> <%= link_to("顶这个问题！", upvote_post_path(post), method: :post, data: {confirm: '用1个ruby来顶？'}, class: "btn btn-info") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- 以下是如何套用音频文件的路径演示 -->


<audio src="song.mp3" type="audio/mpeg" controls>

</audio>

<audio src="<%= audio_path 'click.mp3'%>" type="audio/mpeg" controls>
</audio>

<input type="button" value="PLAY"  onclick="play()">
<audio id="audio" src="click.mp3" ></audio>

</font>


<%= link_to("Test 1", "#", class: "btn btn-primary btn-lg")  %>
<%= link_to("Test 2", "#", class: "btn btn-primary btn-xs")  %>
<%= link_to("Test 3", "#", class: "btn btn-primary btn-md")  %>
<%= link_to("Test 4", "#", class: "btn btn-primary btn-lg")  %>
<%= link_to("Test 5", "#", class: "btn btn-primary btn-lg")  %>
