<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand navbar-header" href=" ">
							<i class="fa fa-diamond" aria-hidden="true"></i> Ruby Rush <i class="fa fa-diamond" aria-hidden="true"></i> </a >
						<p class="navbar-brand navbar-header navbar-subscript"> <sub> 挖掘Ruby宝藏，提问Xdite大神! </sub> </p >
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if !current_user %>
                      <div class="navbar-brand countstuff">
												<i class="fa fa-diamond" aria-hidden="true"></i> x 10
											</div>
                      <div class="navbar-brand countstuff">
												<i class="fa fa-gavel" aria-hidden="true"></i> x 10
											</div>
                      <li><%= link_to("sign up", new_user_registration_path) %></li>
                      <li><%= link_to("sign in", new_user_session_path) %></li>
                    <% else %>
                      <li>
                          <div class="navbar-brand">
                          <i class="fa fa-diamond" aria-hidden="true"></i> x <%= current_user.ruby_amount %>
                        </div>
                      </li>
                      <li>
                          <div class="navbar-brand">
                          <i class="fa fa-gavel" aria-hidden="true"></i> x <%= current_user.pickax_amount%>
                        </div>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle = "dropdown">
                          Hi!, <%= current_user.email  %>
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><%= link_to("sign out", destroy_user_session_path, method: :delete) %></li>
                        </ul>
                      </li>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
