<!DOCTYPE html>
<html>
<font color="#BFBFBF">
  <head>
    <title>Rubyrush</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'common/navbar' %>
      <%= render 'common/flashes' %>

      <div class="row">

          <div class="col-md-2">
            <ul class="" style="max-width: 300px; padding-top:20px;">
              <li class='', style="list-style-type:none;"><%= link_to(content_tag(:i, "Ruby Rush!" , class: 'fa fa-diamond'), posts_path, class: "btn btn-primary active") %> </li>
              <li class='', style="list-style-type:none;"><%= link_to(  content_tag(:i,"问题排行榜!", class: 'fa fa-diamond'), leaderboard_index_path, class: "btn btn-primary active") %> </li>
              <% if current_user %>
                <li class='', style="list-style-type:none;"><%= link_to(content_tag(:i,"你支持的问题!", class: 'fa fa-diamond'), yourboard_index_path, class: "btn btn-primary active") %> </li>
              <% else %>
                <li class='', style="list-style-type:none;"><%= link_to(content_tag(:i,"你支持的问题！", class: 'fa fa-diamond'), yourboard_index_path, class: "btn btn-primary active disabled") %> </li>
              <% end %>

              <hr>

              <li class='', style="list-style-type:none;"><%= link_to(content_tag(:i,"挖更多的Ruby!", class: 'fa fa-diamond'), digruby_index_path, class: "btn btn-primary active") %> </li>

              <li class='', style="list-style-type:none;"><%= link_to(content_tag(:i,"搞更多的镐！", class: 'fa fa-diamond'), ptasks_path, class: "btn btn-primary active") %> </li>

              <hr>

              <li class='', style="list-style-type:none;"><%= link_to(content_tag(:i,"游戏说明", class: 'fa fa-diamond'), about_index_path, class: "btn btn-primary active") %> </li>

              <hr>
              <% if current_user && current_user.is_admin%>
                <li class="active"><%= link_to("AdminPainel!", admin_users_path ) %> </li>
              <% end %>

            </ul>
          </div>

          <div class="col-md-10">
            <%= yield %>
          </div>

        </div>

      </div>
      <!-- ./container-fluid -->
    <%= render 'common/footer' %>
  </body>
</font>
</html>
